# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==3.0.0
librosa==0.10.1
Jinja2==3.1.2
numba==0.51.0
numpy
keras
tensorflow
scikit-learn
pillow
matplotlib
